#olyzaps-view {
    padding-top:3%;
    display: flex;
    padding-bottom: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
    .rebase-timer {
      margin: 0 !important;
      line-height: 110% !important;
    }
}
.connect-wallet-card{
/* UpdateGlow */
width:87%;
height: auto;
background: #0F111E;
/* UpdateGlow */
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
box-shadow: 0px 0px 5px rgba(105, 237, 244, 0.2), 0px 0px 10px rgba(96, 213, 220, 0.2), 0px 0px 15px rgba(96, 213, 220, 0.2), 0px 0px 20px rgba(96, 213, 220, 0.2), 0px 0px 25px rgba(96, 213, 220, 0.2), 0px 0px 100px rgba(96, 213, 220, 0.05), 0px 0px 80px rgba(96, 213, 220, 0.1), 0px 0px 50px rgba(96, 213, 220, 0.3);
border-radius: 14px;


}
.connect-button{
background: #0D0E21;
border: 1px solid #0AE4B5;
box-sizing: border-box;
display: flex;
align-items: center;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
padding: 4px 16px;
justify-content: center;
width: 292.71px;
height: 48px;
border: 1px solid #0AE4B5;
text-align: center;
color: #FFFFFF;
box-shadow: 0px 0px 5px rgba(105, 237, 244, 0.2), 0px 0px 10px rgba(96, 213, 220, 0.2), 0px 0px 15px rgba(96, 213, 220, 0.2), 0px 0px 20px rgba(96, 213, 220, 0.2), 0px 0px 25px rgba(96, 213, 220, 0.2), 0px 0px 100px rgba(96, 213, 220, 0.05), 0px 0px 80px rgba(96, 213, 220, 0.1), 0px 0px 50px rgba(96, 213, 220, 0.3);
border-radius: 10px;
margin-top: 56px;
cursor: pointer;
}
.connect-subtitle{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF; 
opacity: 0.6;
margin-top: 16px;
margin-bottom: 24px;
}
.contract-card{
background: #0F111E;
width:87%;
margin-top: 24px;
height: 436.07px;
box-shadow: 0px 0px 5px rgba(105, 237, 244, 0.2), 0px 0px 10px rgba(96, 213, 220, 0.2), 0px 0px 15px rgba(96, 213, 220, 0.2), 0px 0px 20px rgba(96, 213, 220, 0.2), 0px 0px 25px rgba(96, 213, 220, 0.2), 0px 0px 100px rgba(96, 213, 220, 0.05), 0px 0px 80px rgba(96, 213, 220, 0.1), 0px 0px 50px rgba(96, 213, 220, 0.3);
border-radius: 14px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.give{
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
justify-content: center;
opacity: 0.6;
margin-top: 20px;
}
.zap-title{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #FFFFFF;
text-align:center;

}
.zap-subtitle{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: center;
color: #FFFFFF;

}
.give-image-title{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.zap-title-image{
 display: flex;
flex-direction: column;
align-items: center;
}
.swatt-image-title{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.learn-button{
background: #0D0E21;
border: 1px solid #0AE4B5;
box-sizing: border-box;
display: flex;
align-items: center;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
padding: 4px 16px;
justify-content: center;
width:153px;
height: 48px;
border: 1px solid #0AE4B5;
text-align: center;
color: #FFFFFF;
box-shadow: 0px 0px 5px rgba(105, 237, 244, 0.2), 0px 0px 10px rgba(96, 213, 220, 0.2), 0px 0px 15px rgba(96, 213, 220, 0.2), 0px 0px 20px rgba(96, 213, 220, 0.2), 0px 0px 25px rgba(96, 213, 220, 0.2), 0px 0px 100px rgba(96, 213, 220, 0.05), 0px 0px 80px rgba(96, 213, 220, 0.1), 0px 0px 50px rgba(96, 213, 220, 0.3);
border-radius: 10px;
margin-bottom: -76px;
cursor: pointer;

}
.arrow-icon{
  display: flex;
  justify-content: center;
  align-items: center;

}
@media only screen and (min-width: 375px) and (max-width: 812px) {
  .connect-wallet-card{   
    box-sizing: border-box; 
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;

  }
  .connect-button{
    box-sizing: border-box; 
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .contract-card{
    box-sizing: border-box; 
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: 1000px;


  }
  .give-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .learn-button{
    width: 80%;
  }
  

}